*{
  margin: 0;
  padding:0;
  font-family: 'poppins',sans-serif;
  box-sizing: border-box;
}
body{
  background: #091C2A;
  color:#ededed;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 10px;
  width:100%;
  background: #051129;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  z-index: 100;
}
/* logo */
.logo{
  margin-left: 9.5%;
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
}
/* navbar */
.navbar a{
  display: inline-block;
  font-size: 25px;
  font-weight: 500;
  color: #ffffff;
  margin-left:35px;
  text-decoration: none;
  transition: .3s ease forwards;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: calc(.2s * var(--i)); 
}
.navbar a:hover{
  color: #0ecf;
}
/* section */
.section{
  position: relative;
  width: 100%;
  height: 100vh;
  background: #091c2a;;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 10%;
}
.section-content{
  max-width: 600px;
}
.section-content h3{
  font-size: 32px;
  font-weight:700;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay:.7s ;
}
.section-content h3:nth-of-type(2){
  margin-bottom: 30px;
  animation:slideBottom 1s ease forwards;
  animation-delay: .7s;
}
.section-content h3 span{
  color: #0ecf;
}

.section-content h1{
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
.section-content p{
  font-size: 20px;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.section-img{
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: linear-gradient(45deg,#00ffff, #ff00ff);
  padding: 5px;
  box-shadow: 0 0 80px rgba(0,255,255,0.4);
}
.section-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.section-social a{
  display:inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ecf;
  border-radius: 50%;
  font-size: 20px;
  color: #0ecf;
  text-decoration: none;
  transition: .5s ease;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: calc(.2s * var--i) ;
  margin: 30px 15px 30px 0;
}
.section-social a:hover{
  background: #0ecf;
  color: #081b29;
  box-shadow:0 0 20px #0ecf;
}
.btn-box{
  display: inline-block;
  padding:12px 28px;
  background: #0ecf;
  border-radius: 40px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #081b29;
  letter-spacing: 1px;
  opacity: 0;
  animation:slideBottom 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ecf,
  0 0 25px #0ecf;
}
.btn-box:hover{
  box-shadow:0 0 5px cyan, 0 0 25px cyan,0 0 50px cyan,0 0 50px cyan,0 0 100px cyan,0 0 200px cyan;
}

.about{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 1.5rem;
}

.about-img img{
  padding-bottom:20%;
  max-width: 630px;
  height: auto;
  width: 100%;
  border-radius: 8px;
}

.about_text h2{
  font-size: 60px;
}
.about_text h2 span{
  color: #0ecf;
}

.about_text h4{
  font-size: 29px;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.7;
  margin: 15px 0 30px;
}
.about_text p{
  color:aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

#services{
  color:aliceblue;
  font-size:20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

.sub-tittle{
  text-align: center;
  font-size: 60px;
  padding-bottom: 70px;
}
.sub-tittle span{
  color: #0ecf;

}

.container{
  padding:90px;
}
.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap:40px;
  margin-top: 50px;
}

.services-list div{
  background: transparent;
  padding:40px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7,
              1px 1px 40px #012290f7;
               
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}

.services-list div a {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.read{
  display:inline-block;
  padding: 12px 28px;
  background: #0ecf;
  border-radius: 40px;
  font-size: 18px;
  color:#081b29;
  letter-spacing: 1px;
  text-decoration: none;
  opacity: 0;
  animation:slideBottom 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ecf,
  0 0 25px #0ecf;
}

.read:hover{
  box-shadow:0 0 5px cyan, 0 0 25px cyan,0 0 50px cyan,0 0 50px cyan,0 0 100px cyan,0 0 200px cyan;
}





@keyframes slideLeft{
  0%{
    transform: translateX(-100px);
    opacity:0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
} 
@keyframes slideRight{
  0%{
    transform: translateX(100px);
    opacity:0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
} 
@keyframes slideBottom{
  0%{
    transform: translateY(100px);
    opacity:0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideTop{
  0%{
    transform: translateY(-100px);
    opacity:0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

